<script id="cb-template-image-gallery" type="text/x-tmpl">
    <img src="{%=o.imageUrl%}">
    <figcaption>{%= o.imageLegend%}</figcaption>
    <a href="#" id="previousImage" class="image-previous" data-target-index="{%=o.previousIndex%}" data-icon="&#xe60d;"></a>
    <a href="#" id="nextImage" class="image-next" data-target-index="{%=o.nextIndex%}" data-icon="&#xe60e;"></a>
    <a href="#" id="closeImage" class="image-close" data-target-index="" data-icon="&#xe00b;"></a>
</script>