<script id="cb-template-image-gallery" type="text/x-tmpl">
    <img src="{%=o.imageUrl%}">
    {% if (o.imageLegend) { %}
        <figcaption>{%=o.imageLegend%}</figcaption>
    {% } %}
    <a href="#" id="previousImage" class="image-previous" data-target-index="{%=o.previousIndex%}" data-icon="&#xe60d;"></a>
    <a href="#" id="nextImage" class="image-next" data-target-index="{%=o.nextIndex%}" data-icon="&#xe60e;"></a>
    <a href="#" id="closeImage" class="image-close _close" data-target-index="" data-icon="&#xe00b;"></a>
</script>

<script id="cb-template-player-youtube" type="text/x-tmpl">
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/{%=o.itemId%}" width="100%" height="390" frameborder="0"/>
    </div>
</script>

<script id="cb-template-player-dailymotion" type="text/x-tmpl">
    <div class="video-container">
        <iframe src="https://www.dailymotion.com/embed/video/{%=o.itemId%}" frameborder="0" width="100%" height="390" />
    </div>
</script>

<script id="cb-template-player-soundcloud" type="text/x-tmpl">
    <iframe src="https://w.soundcloud.com/player/?url={%=o.itemId%}&color=ff5500",
            width="100%" height="166" scrolling="no" frameborder="no" ></iframe>
</script>

<script id="cb-template-player-spotify" type="text/x-tmpl">
    <iframe src="https://embed.spotify.com/?uri=spotify:{%=o.itemId%}" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
</script>

<script id="cb-template-player-deezer" type="text/x-tmpl">
    <iframe scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?autoplay=false&playlist={%=o.itemId.list%}&width=700&height={%=o.itemId.height%}&cover=true&type={%=o.itemId.type%}&id={%=o.itemId.id%}&title=&app_id=undefined" width="100%" height="{%=o.itemId.height%}"></iframe>
</script>


