<script id="cb-template-image-gallery" type="text/x-tmpl">
    <img src="{%=o.imageUrl%}">
    <p>{%= o.imageLegend%}</p>
    <a href="#" id="previousImage" data-target-index="{%=o.previousIndex%}">Previous</a>
    <a href="#" id="nextImage" data-target-index="{%=o.nextIndex%}">Next</a>
</script>